h1 a {
  color: rgb(81, 81, 81);
  text-decoration: none;
  display: block;
  text-align: center;
}

a {
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 2em;
  color: black;
}

section.ng-binding.ng-scope {
  text-align: center;
  padding: 8% 2%;
}