<section>
    <label>From</label>
    <select ng-model="from" ng-change="converter.setFrom(from)" ng-selected="converter.getState().from">
        <option ng-repeat="encoding in converter.getEncodings()" ng-value="encoding">
          {{ encoding }}
        </option>
    </select>
    <label>To</label>
    <select ng-model="to" ng-change="converter.setTo(to)" ng-selected="converter.getState().to">
        <option ng-repeat="encoding in converter.getEncodings()" ng-value="encoding">
          {{ encoding }}
        </option>
    </select>
    <label>Text to be converted</label>
    <textarea ng-model="text"></textarea>
  {{ converter.convert(text) }}
</section>
